<div class="landing-page">
  <h1>Angular Common Components.</h1>
  <p>
    This framework is built for easily developing applications with an ease.
    <br>
    Built with some of the commonly used components for building application, we have solidated them as a custom directives with a Project Scaffolding with DEV and PRODUCTION build process.
  </p>

  <p>
      This project was built keeping in mind of building production application very easy.
      <br>
      This comes with Charts directive and maps integaration, so building a Dasboard / Analytics Dashboard is as easy as building a lego.
  </p>
  <p>
    Please check the list of components on built <b>Left Navigation</b> with documentation to integrate the custom directives.
  </p>

  <h3> Components used </h3>
  <ul>
    <li>Angular 1.5</li>
    <li>Angular UI Router</li>
    <li>Bootstrap</li>
    <li>Gulp - for build and task automation</li>
  </ul>

  <p class="issue">
    The list will be updated with additional components very soon. In case of any issues, please raise a bug.
  </p>
</div>
